table,
th,
td {
  border: 1px solid black;
  align-items: center;
  border-collapse: collapse;
  padding: 5px;
}

.user-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}
