<h2>Add users</h2>
<form class="mb-10" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email">Email : </label>
    <input id="email" name="email" [(ngModel)]="user.email" />
  </div>
  <div class="mb-3">
    <label for="phone">Phone : </label>
    <input id="phone" name="phone" [(ngModel)]="user.phone" />
  </div>
  <div class="mb-3">
    <label for="cname">Company : </label>
    <input id="cname" name="cname" [(ngModel)]="user.cname" />
  </div>

  <div class="submit" class="mb-10 mt-20">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="mt-20">Preview : {{ user | json }}</div>
